<!DOCTYPE html>
<html lang="en" class="text-base">
<head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog #2</title>
    
    <!-- Style Sheet Reset, if needed
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" type="text/css">
    -->

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/C-logo.png?v=1.1" type="image/x-icon">

    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link href="style.css" rel="stylesheet" type="text/css"> -->
    <!-- <script src="script.js" defer></script> -->
</head>
<body class="px-5 md:px-32">
    <div class="top-bar flex justify-between pt-4">
        <div class="flex items-center">
            <h1 class="top-bar-title text-3xl font-bold">The Bloggity Blog</h1>
        </div>
        <nav class="flex items-center">
            <ul class=" flex list-none p-0 text-center">
                <a href="#" class="nav-link-btn flex justify-center items-center mr-4 border-black border-2 px-3 py-2 active:bg-black active:text-white rounded-lg">
                    <li>Home</li>
                </a>
                <a href="#" class="nav-link-btn flex justify-center items-center mr-4 border-black border-2 px-3 py-2 active:bg-black active:text-white rounded-lg">
                    <li>Contact</li>
                </a>
                <a href="#" class="nav-link-btn flex justify-center items-center border-black border-2 px-3 py-2 active:bg-black active:text-white rounded-lg">
                    <li>Send  Threat</li>
                </a>
            </ul>
        </nav>
    </div>
</body>
</html>
